body ,h1,h2,h3,ul,li{
    margin: 5;
    padding: 5;
}
h1{
    color:rgb(20, 20, 19) ;
}
body {
    background-color: rgb(189, 27, 181);
}
body {
    font-family:'Courier New', Courier, monospace;
}